/*
.post-wrapper
    backdrop-filter: blur(10px) // 模糊
    -webkit-backdrop-filter: blur(10px);
*/

.post-wrapper
    opacity: 0.8 // 透明度

// 表格居中
table:not(figure table/* 此处排除代码块 */)
    display: table !important
    margin: auto
